.title::after {
    content: "";
    width: 64px;
    border-top: 2px solid #E72424;
    margin: 34px auto 34px;
    display: block;
}
.awesome-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 68px -15px -15px 0;
}
.awesome-card {
    width: 350px;
    margin: 0 15px;
}
.awesome-card-img {
    width: 70px;
    height: 70px;
    border: 1px solid #E72424;
    border-radius: 50%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}
.awesome-card-title {
    font-family: "Open Sans";
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 16px;
    color: #333333;
}
.awesome-card-text {
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    line-height: 19.07px;
    color: #070707;
}