
.title{
    font-weight: 400;
    font-size: 36px;
    font-family: "Raleway";
    color: #212121;
    text-align: center;
    margin-bottom: 34px;
}
.line {
width: 64px;
border-top: 2px solid #E72424;
margin: auto;
margin-bottom: 34px;
}      
.text-description p {
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 400;
    color: #86878B;
    text-align: center;
}
.awesome-wrap {
    display: flex;
    justify-content: space-between;
    margin-top: 68px;
}
.awesome-card {
    width: 350px;
}
.awesome-card-img {
    width: 70px;
    height: 70px;
    border: 1px solid #E72424;
    border-radius: 50%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}
.awesome-card-title {
    font-family: "Open Sans";
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 16px;
    color: #333333;
}
.awesome-card-text {
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    line-height: 19.07px;
    color: #070707;
}