.title::after {
  content: "";
  width: 64px;
  border-top: 2px solid #E72424;
  margin: 34px auto 34px;
  display: block;
}
.contact-form {
  display: flex;
  flex-direction: column;
  margin-top: 91px;
}
.form-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  margin: 0 -15px 69px;
}
.form-content-left {
  margin: 0 15px;
  width: 40%;
}
.form-content-item {
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 400;
  color: rgb(189,189,189);
  margin-bottom: 32px;
  width: auto;
}
.form-content-item:last-child {
  margin-bottom: 0;
}
.form-content-item label {
  display: block;
}
.form-content-item input {
  display: block;
  width: 100%;
  border: none;
  line-height: 32px;
  border-bottom: 1px solid rgb(189,189,189);
}
.form-content-item input:focus {
  outline: none;
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 400;
}
.form-content-right {
  margin: 0 15px;
  width: 40%;
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 400;
  color: rgb(189,189,189);
}
.form-content-right label {
  display: block;
}
.form-content-right textarea {
  display: block;
  width: 100%;
  height: 207px;
  border: none;
  border-bottom: 1px solid rgb(189,189,189);
  resize: none;
}
.form-content-right textarea:focus {
  outline: none;
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 400;
}
.contact-form-btn {
  font-family: "Open Sans";
  background-color: rgb(236,121,121);
  border: none;
  color: white;
  line-height: 42px;
  width: 166px;
  margin: auto;
  font-size: 15px;
  font-weight: 600;
  
}