.customers-wrap {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 67px -15px -15px 0;
}
.customers-card {
  width: 298px;
  margin: 0 15px;
}
.customers-card-text {
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  line-height: 19.07px;
  color: #86878B;
  border-radius: 7px;
  background-color: #E2E2E2;
  padding: 9px 22px 6px 23px; 
  margin-bottom: 20px;
  position: relative;
}
.customers-card-text::after {
  content: "";
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 20px solid #E2E2E2;
  display: block;
  position: absolute;
  top: end;
  left: 41px;
}

.customers-card-content {
  display: flex;
  justify-content: space-around;
}
.customers-card-img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.customers-card-img img {
  width: 100%;
  height: 100%;
}
.customers-card-desc {
  text-align: right;
}
.card-desc-name {
  font-family: "Open Sans";
  font-size: 20px;
  font-weight: 700;
  line-height: 27.24px;
  color: #333333;
  margin-bottom: 12px;
  display: block;
}
.card-desc-post {
 font-family: "Open Sans";
 font-size: 14px;
 font-weight: 400;
 line-height: 19.07px;
 color: #86878B;
 display: block;
}