.header {
  background-color: black;
  padding: 0 0;
  position: sticky;
  top: 0;
  width: 100%;
  display: block;
  z-index: 100;
}
.container {
}
.header-wrap {
  display: flex;
  justify-content: space-between;
}
.logo a {
  font-family: "Raleway";
  font-size: 30px;
  font-weight: 400;
  color: white;
  line-height: 70px;
  align-items: center;
}
.logo span {
  color: rgb(236,121,121)
}

.header-content { 
  display: flex;
  justify-content: space-between;
  width: 489px;
  align-items: center;
}
.content-item a {
  font-family: "Open Sans";
  font-size: 15px;
  font-weight: 600;
  color: rgba(255,255,255,0.7);
}