@import url(../css/cdn.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

.container {
    max-width: 1170px;
    padding: 0 15px;
    margin: auto;
}