@import url(../css/cdn.css);
@import url(../css/awesome.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
html {
    font-family: "Open Sans", "Raleway", sans-serif;
}
section {
    padding: 100px 0;
}
.container {
    max-width: 1170px;
    margin: auto;
    padding: 0 15px;
}