.pricing {
 background: #F5F5F5;
}
.title::after {
  content: "";
  width: 64px;
  border-top: 2px solid #E72424;
  margin: 34px auto 34px;
  display: block;
} 
.pricing-wrap {
  margin: 62px -15px -15px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}
.pricing-list {
  width: 340px;
  margin: 0 15px;
  display: flex;
  flex-direction: column;
}
li {
  margin-bottom: 4px;
}
li:last-child {
  margin-bottom: 0px;
}
.list-item-tariff {
  font-family: "Open Sans";
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  color: white;
  background: #333333;
  line-height: 50px;
}
.list-item-coast {
  font-family: "Raleway";
  font-size: 35px;
  font-weight: 700;
  text-align: center;
  color: white;
  background-color: #333333;
  line-height: 100px;

}
.list-item-period {
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 600;
  text-align: center;
  color: rgba(255,255,255,0.5);
  background-color: #333333;
  line-height: 50px;
}
.list-item {
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  color: #86878B;
  background-color: #FFFFFF;
  line-height: 40px;
}