.social {
  background-color: rgba(248, 239, 239, 1);
  padding: 0 0;
}
.container {
}
.social-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.social-wrap-text {
  width: 365px;
  /* margin-right: 129px; */
}

.title_social {
  font-family: "Open Sans";
  font-size: 20px;
  font-weight: 700;
  color: rgba(51, 51, 51, 1);
  text-align: left;
  margin-bottom: 14px;
}
.social-decs p{
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 400;
  color: rgba(134, 135, 139, 1);
  line-height: 19.07px;
}
.social-wrap-links {
  width: 684px;
}
.social-media-link {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  line-height: 110px;
}
.social-media-link i {
  color: rgba(134, 135, 139, 0.4);
  font-size: 42px;
}
.fa-facebook-f {
}
.fa-twitter {
}
.fa-google {
}
.fa-pinterest {
}
.fa-instagram {
}
.fa-stumbleupon {
}
.fa-rss {
}