.tabs-wrap {
  display: flex;
  justify-content: space-between;
  /* flex-wrap: wrap; */
  margin: 0 -15px;
}
.tabs-header {
  display: flex;
  flex-direction: column;
  margin: 0 15px;
}
.tabs-item {
  font-family: "Open Sans";
  font-size: 15px;
  font-weight: 700;
  color: white;
  padding: 45px 35px;
  background-color: rgb(51,51,51);
  margin-bottom: 10px;
  border: none;
  border-radius: 4px;
}
.tabs-item:last-child {
  margin-bottom: 0;
}
.active {
  background-color: rgb(236,121,121);
}
.tabs-content {
  margin: 0 15px;
  max-width: 572px;
}
.title-tabs {
  font-family: "Open Sans";
  font-size: 20px;
  font-weight: 700;
  color: black;
  margin-bottom: 58px;
}
.tabs-content-item-active {
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 400;
  color: rgba(134, 135, 139, 1);
  margin: 58px 0 89px 0;
  text-transform: uppercase;
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* .tabs-content-item-active p {
  display: block;
} */
/* .tabs-content-item {
  display: none;
} */
.tabs-content-img{
  margin: 0 15px;
  width: 320px;
  height: 253px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.tabs-content-img img {
 width: 100%;
}
.form-content-link {
  width: 135px;
  border: none;
  padding: 11px 28px;
  background-color: rgb(236,121,121);
}
.form-content-link a {
  color: white;
}
